@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #fc5001;
  margin: 0;
}
.swiper-button-prev::after{
  color: black;
  
    
}
.swiper-button-next::after{
  color: black;
  
    
}







