.form {
    text-align: center;
    height: 2.5rem;
    width: 6rem;
    display: flex;
    justify-content: space-evenly;

  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #da4409;
    border: 1px solid #da4409;
    color: white;
    height: 1.75rem;
    width: 4rem;
    align-self: flex-end;
    font-weight: bold;
  }
 
  .form button:hover,
  .form button:active {
    background-color: #92320c;
    border-color: #92320c
  }